[Unit]
Description=Paperless-ngx redis broker

[Container]
# Base options
AutoUpdate=registry
Image=docker.io/library/redis:8
Pod=paperless.pod

# Storage options
Volume=redisdata:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
