[Unit]
Description=Paperless-ngx redis broker

[Container]
# Base options
AutoUpdate=registry
Image=docker.io/library/redis:8
Pod=paperless.pod

# Storage options
Volume=redisdata:/data

# Healthcheck options
HealthCmd=redis-cli ping | grep -q PONG || exit 1
HealthInterval=15s
HealthRetries=3
HealthStartPeriod=30s
HealthTimeout=5s

[Service]
Restart=always

[Install]
WantedBy=default.target

